[
  {
    "remark": "王家俊",
    "phone": "18164239203",
    "password": "Wjj12345678",
    "province": "重庆市",
    "city": "重庆市",
    "area": "巴南区",
    "address": "重庆市·巴南区·龙洲湾街道·渝南大道163号",
    "longitude": "106.547238",
    "latitude": "29.412325",
    "randomLocation": true,
    "enable": true,
    "desc": "打卡备注",
    "pushKey": "918b01edee6d42028e31198544d6acae"
  }

]
